@model IEnumerable<MiniMarket.Models.Product>
@{

    ViewBag.Title = "Home Page";
}


<div style="padding-top: 30px" id="my-carousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#my-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#my-carousel" data-slide-to="1"></li>
        <li data-target="#my-carousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img alt="First slide" src="~/Images/Slider/ImagenAlmacen0.jpg">
            <div class="carousel-caption">
                <h1>Almacenes De Éxito.</h1>
                <h3>EL MEJOR ALMACEN DE LA CIUDAD</h3>
            </div>
        </div>
        <div class="item">
            <img alt="Second slide" src="~/Images/Slider/ImagenAlmacen1.jpg">
            <div class="carousel-caption">
                <h1>ORDEN Y EFICIENCIA</h1>
                <h3>Los Mejores Horarios de Atención.</h3>
            </div>
        </div>
        <div class="item">
            <img alt="Third slide" src="~/Images/Slider/ImagenAlmacen2.jpg">
            <div class="carousel-caption">
                <h1>Personal Capacitado</h1>
                <h3>a su orden,en lo que necesite, contamos con servicios de montacarga.</h3>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#my-carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#my-carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<hr class="text-center" style="padding-top:30px" />

<div class="jumbotron" style="padding-top:30px ;text-align:center">
    <h2>Mini Super</h2>
    <h3>Almacenes de Calidad</h3>
    <p class="lead">
        Almacenes Mini Super fue fundada el año 1991; por iniciativa del Sr. Modestino León y la Sra. Gueisa Gorena,
        los cuales tuvieron la visión de incursionar en el rubro de la importación y comercialización de productos al por mayor y menor.
    </p>
    <p class="lead"> Hoy en dia somos una empresa con más de 25 años de trayectoria en el mercado boliviano. </p>

    <p class="lead">
        Actualmente contamos con la representación EXCLUSIVA de marcas líderes y de gran calidad como Atlas, Mondial y Beko. Estamos presentes de forma directa en el eje troncal de nuestro país: Santa Cruz, Cochabamba y La Paz; y con representantes en los demás departamentos.
        Somos una empresa CONSOLIDADA y catalogada como una de las grandes empresas del país en el sector de artículos para el hogar. En estos momentos estamos en una fase de expansión importante reflejado en nuestro crecimiento exponencial los últimos años.
    </p>

</div>
<div class="row">
    <hr style="align-content:center;color:black; font-size:10px" />
    <div class="text-center">
        <h1>Productos Mas Antiguos</h1>
    </div>
    <hr />
</div>

<div id="my-carousel-products" class="carousel slide" style="padding-top:30px" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#my-carousel-products" data-slide-to="0" class="active"></li>
        <li data-target="#my-carousel-products" data-slide-to="1"></li>
        <li data-target="#my-carousel-products" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        @{ int i = 0;}
        @foreach (var item in Model)
        {
            if (i == 0)
            {
                <div class="item active">
                    <img class="img-responsive altura_imagen anchoImagen" alt="First slide" src="@Url.Content(item.Foto)" />
                    <div class="carousel-caption">
                        <h2>@item.Nombre</h2>
                        <H3>@item.FechaVencimiento</H3>
                    </div>
                </div>
                i++;
            }
                <div class="item">
                    <img class="img-responsive altura_imagen anchoImagen" alt="Second slide" src="@Url.Content(item.Foto)" />
                    <div class="carousel-caption">
                        <h2>@item.Nombre</h2>
                        <H3>@item.FechaVencimiento</H3>
                    </div>
                </div>
          
        }
        
     </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#my-carousel-products" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#my-carousel-products" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row" style="padding-top:30px">
    <div class="col-sm-4 col-md-4 col-xs-12">
        <div class="thumbnail text-center">
            <i class="fa fa-star fa-5x"></i>
            <div class="caption">
                <h3>Calidad</h3>
                <p>Trabajamos con los mejores productos</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4 col-xs-12">
        <div class="thumbnail text-center">
            <i class="fa fa-check fa-5x"></i>
            <div class="caption">
                <h3>Eficiencia</h3>
                <p>Trabajamos con responsabilidad</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4 col-xs-12">
        <div class="thumbnail text-center">
            <i class="fa fa-truck fa-5x"></i>
            <div class="caption">
                <h3>Puntualidad</h3>
                <p>Llegamos hasta su Almacen</p>
            </div>
        </div>
    </div>
</div>
<footer>
<div class="row" style="padding-top:30px">
    <div class="container">
        <div class="col-md-4 col-sm-4 col-xs-12">
            <table class="table-responsive table-bordered" style="align-content:center">
                <tr>
                    <th>Dias de atencion</th>
                    <th>Horarios Mañana</th>
                    <th>Horario Tarde</th>
                </tr>
                <tr>
                    <th>lunes a viernes</th>
                    <th>8:00 - 12:00</th>
                    <th>14:00- 19:00 </th>
                </tr>
                <tr>
                    <th>Sabados y Feriados</th>
                    <th>7:00 - 13:00</th>
                    <th>No hay  Atencion</th>
                </tr>
            </table>
            <div class="container" style="padding-top:20px">
                <p>
                    <span>Av. Litoral  - Santa Cruz - Bolivia </span> 
                </p>
            </div>
            <br />
            <br />
            <br />

            <div>
                <strong>Buscanos en FB:</strong>   <a href="mailto:Support@example.com"><i class="fa fa-facebook"></i></a><br />
            </div>

            <div>
                <strong>Siguenos en Twitter</strong> <a href="mailto:Marketing@example.com"><i class="fa fa-twitter-square"></i></a>
            </div>

        </div>
        <div class="col-md-8 col-md-8 col-xs-12"  >
            <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d1493.2908891946245!2d-63.16473266006546!3d-17.77959876383499!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sus!4v1527964462547" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>
</footer>