<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/jqueryui")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("MiniSuper V1", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li class="dropdown submenu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Productos</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Productos", "Index", "Products")</li>
                            <li>@Html.ActionLink("Categorias", "Index", "Categories")</li>
                            <li>@Html.ActionLink("Unidades", "Index", "Units")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Inventario", "Index", "Inventories")</li>
                    <li class="dropdown submenu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Notas de Salida</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Nota de Salida", "Index", "NoteExits")</li>
                            <li>@Html.ActionLink("nota de salida - producto", "Index", "NoteExitProducts")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Proveedores", "Index", "Providers")</li>
                    <li class="dropdown submenu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Notas de Entrada</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Nota de Entrada", "Index", "NoteEntries")</li>
                            <li>@Html.ActionLink("NotaEntrada-Productos", "Index", "NoteEntryProducts")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Usuarios", "Index", "Users")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>
    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
