@model MiniMarket.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.TipoCategoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.TipoCategoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Provider.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Provider.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unit.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unit.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaVencimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaVencimiento)
        </dd>

        <dd>
            <img height="50" width="50" src=@Url.Content(Model.Foto) />
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Foto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
